[user]
  name = Drew Gingerich
  email = drew@elsewhere.space
[pull]
  ff = only
[push]
  authSetupRemote = true
  autoSetupRemote = true
[init]
  defaultBranch = main
[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
